@import url('https://fonts.googleapis.com/css2?family=Genos&display=swap');

:root{
    --letraLogo: 'Genos', sans-serif;
    --colorPrimario: #2874A6;
    --colorSecundario: #fff;
    --colorTerciario: #212F3C;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.menu{
    background: var(--colorTerciario);
    color: var(--colorSecundario);
    height: 70px;
    position: fixed;
    width: 100%;
    z-index: 3;
}

.menu_container{
    display: flex;
    width: 95%;
    margin: auto;
    max-width: 1400px;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.menu_logo{
    font-size: 30px;
    font-family: var(--letraLogo);
    color: var(--colorPrimario);
}

.menu_links{
    height: 100%;
    transition: transform .5s;
    display: flex;
}

.menu_link{
    color: var(--colorSecundario);
    text-decoration: none;
    padding: 0 15px;
    display: flex;
    height: 100%;
    align-items: center;
    font-size: 14px;
    font-family: var(--letraLogo);
}

.menu_link:hover{
    background: var(--colorPrimario);
}

.menu_item{
    list-style: none;
    position: relative;
    height: 100%;
    --clip: polygon(0 0, 100% 0, 100% 0, 0 0);
    --transformar: rotate(0);
}

.menu_item:hover{
    --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    --transformar: rotate(90deg);
}

.menu_nesting{
    list-style: none;
    transition: clip-path .3s;
    clip-path: var(--clip);
    position: absolute;
    right: 0;
    bottom: 0;
    width: max-content;
    transform: translateY(100%);
    background: var(--colorTerciario);
}

.menu_arrow{
    transform: var(--transformar);
    transition: transform .3s;
    display: block;
    margin-left: 3px;
}

.menu_link--inside{
    background: #000;
    padding: 15px 60px 15px 15px;
}

.menu_link--inside:hover{
    background: var(--colorPrimario);
}

.menu_hamburguer{
    height: 100%;
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    display: none;
}

.menu_img{
    display: block;
    width: 36px;
}

.img_item{
    width: 35px;
    height: 35px;
    border-radius: 5px;
    object-fit: cover;
}

@media (max-width: 1100px) {
    .menu_hamburguer{
        display: flex;
    }

    .menu_item{
        --clip: 0;
        overflow: hidden;
    }

    .menu_item--active{
       --transformar: rotate(90deg);
       --background: var(--colorPrimario);
    }

    .menu_item--show{
        background: var(--background);
    }

    .menu_links{
        position: fixed;
        max-width: 400px;
        width: 100%;
        top: 70px;
        right: 0;
        bottom: 0;
        background: #000;
        overflow-y: auto;
        display: grid;
        grid-auto-rows: max-content;
        transform: translateX(100%);
    }

    .menu_links--show{
        transform: unset;
        width: 100%;
    }

    .menu_link{
        padding: 25px 0;
        padding-left: 30px;
        height: auto;
    }

    .menu_arrow{
        margin-left: auto;
        margin-right: 20px;
    }

    .menu_nesting{
        display: grid;
        position: unset;
        width: 100%;
        transform: translateY(0);
        height: 0;
        transition: height .3s;
    }

    .menu_link--inside{
        width: 100%;
        margin-left: auto;
        background: #000;
    }

}
